<ion-view style="" class=" " id="page9" title="Versicherung bearbeiten">
    <ion-content class="has-header" padding="true">
        <div id="versicherungBearbeiten-card26" class="list card ">
            <p class=" " style="color:#000000;font-size:18px;" id="versicherungBearbeiten-markdown18">Versicherungsdetails</p>
            <ion-item style="" class="  " id="versicherungBearbeiten-list-item13">Item</ion-item>
        </div>
        <div id="versicherungBearbeiten-card211" class="list card ">
            <p class=" " style="color:#000000;font-size:18px;" id="versicherungBearbeiten-markdown19">Änderungen</p>
            <form class="list " id="versicherungBearbeiten-form50">
                <p class=" " style="color:#000000;" id="versicherungBearbeiten-markdown33">Neuer Versicherungswert</p>
                <label id="versicherungBearbeiten-input26" class="item item-input ">
                    <span class="input-label">Item</span>
                    <input placeholder="" type="text">
                </label>
                <p class=" " style="color:#000000;" id="versicherungBearbeiten-markdown21">Neuer Aktueller Wert</p>
                <label id="versicherungBearbeiten-input29" class="item item-input ">
                    <span class="input-label">Item</span>
                    <input placeholder="" type="text">
                </label>
                <p class=" " style="color:#000000;" id="versicherungBearbeiten-markdown22">Neuer Monatsbeitrag</p>
                <label id="versicherungBearbeiten-input30" class="item item-input ">
                    <span class="input-label">Item</span>
                    <input placeholder="" type="text">
                </label>
            </form>
        </div>
        <button class=" button button-positive  button-block " id="versicherungBearbeiten-button13">Änderungen übernehmen</button>
        <div class=" button-bar " id="versicherungBearbeiten-button-bar2">
            <button class=" button button-positive  button-block " id="versicherungBearbeiten-button30">Versicherung kündigen</button>
        </div>
    </ion-content>
</ion-view>