<ion-view style="" class=" " id="page5" title="Versicherungsdetails">


    <ion-content class="has-header" padding="true">
        <div id="versicherungsdetails-card28" class="list card ">
            <ion-item style="" class="  " id="versicherungsdetails-list-item34"> Versicherungsdetails</ion-item>
            <div  class="item item-body ">
                <table class="tableMobile3">
                    <tr>
                        <td>  <b>Bezeichnung: </b> </td>
                        <td> &nbsp {{versicherung.name}} </td>
                    </tr>
                    <tr>
                        <td> <b> Kategorie: </b> </td>
                        <td> &nbsp {{versicherung.kategorie}} </td>
                    </tr>
                   <tr>
                        <td> <b> Versicherungshöhe: </b> </td>
                        <td> &nbsp {{versicherung.versicherungshoehe}} </td>
                    </tr>
                    <tr>
                        <td>  davon gedeckt: </td>
                        <td> &nbsp {{versicherung.suminvestition}} </td>
                    </tr>
                    <tr>
                        <td> <b> Monatsbeitrag: </b> </td>
                        <td> &nbsp {{versicherung.beitrag}} </td>
                    </tr>
                    <tr>
                        <td> <b> Beschreibung: </b> </td>
                        <td> &nbsp {{versicherung.beschreibung}} </td>
                    </tr>
                    <tr>
                        <td> <b> ausgezahlter Schaden:&nbsp </b> </td>
                        <td> &nbsp {{gesamtSchaden()}} </td>
                    </tr>
                    <tr ng-repeat= "status in versicherung.versicherungsstatus">
                                    <td> <b> Status: </b> </td>
                                    <td>  &nbsp {{status}} </td>
                    </tr>

                </table>
            </div>
        </div>


        </div>

        <div id="versicherungsdetails-card29" class="list card ">
            <ion-item> Investoren</ion-item>
            <div  class="item item-body ">
                <!--<ion-list class=" " id="Bersicht-list7">-->
            <a class="text_black" ng-click="showInvestor(investor)" ng-repeat="investor in investoren" ng-hide="noInvestor">
                <!--<ion-item style="" id="Bersicht-list-item11">-->

                     <table class="tableMobile2">
                        <tr>
                            <td>  <b>Name: </b> </td>
                            <td>  {{investor.prename}} {{investor.name}} </td>
                        </tr>
                        <tr>
                            <td>  <b>Investitionshöhe: </b> </td>
                            <td>  {{investor.investitionshoehe}} </td>
                        </tr>
                        <tr>
                            <td>  <b>Abschlusszeitpunkt:&nbsp </b> </td>
                            <td>{{investor.abschlussZeitpunkt}}</td>
                        </tr>
                         <tr>
                             <td><hr></td>
                             <td><hr></td>
                         </tr>
                    </table>
                <!--</ion-item>-->
            </a>
                <!--</ion-list>-->
            </div>
            <p class=" " style="margin-top:0px;color:#000000;" id="versicherungsdetails-markdown26" ng-show="noInvestor">Bisher hat niemand in dieses Versicherungsangebot investiert</p>
        </div>

        <div class=" button-bar " id="versicherungsdetails-button-bar1">
            <button class=" button button-positive  button-block " id="versicherungsdetails-button8" ng-click="showSchadensfaelle()">Schadensfälle</button>
            <button class=" button button-positive  button-block " id="versicherungsdetails-button9" ng-disabled="versicherung.istGekuendigt" ng-click="addSchadensfall()">+</button>
            <button class=" button button-positive  button-block " id="versicherungsdetails-button19" ng-click="showSocial()">Social</button>
        </div>
        <button class=" button button-positive  button-block " id="versicherungsdetails-button4" ng-disabled="versicherung.istGekuendigt" ng-click="cancelVersicherung()">Kündigen</button>
    </ion-content>
</ion-view>
