<ion-view style="" class=" " id="page15" title="Versicherung Social">
    <ion-content class="has-header" padding="true">
        <div id="versicherungSocial-card24" class="list card ">
                <div  class="item item-body ">
                <table class="tableMobile4">
                    <tr>
                        <td>  <b>Versicherungsnehmer:</b>   </td>
                        <td>
                                <a ng-click="showProfil()"> {{versicherung.personPrename}} {{versicherung.personName}}  </a>
                        </td>
                    </tr>

                    <tr>
                        <td> <b> Versicherung: </b> </td>
                        <td> &nbsp {{versicherung.name}} </td>
                    </tr>
                </table>
                </div>

        </div>
        <div id="versicherungSocial-card212" class="list card ">
            <p class=" " style="color:#000000;font-size:18px;" id="versicherungSocial-markdown30">&nbsp Investoren</p>
                <div class = "row" ng-repeat="investor in investoren">
                    <div class = "col">
                         <i class="icon ion-ionic"></i> </br>
                        <a ng-click="showInvestor({{investor[0]}})">
                            {{investor[0].prename}} {{investor[0].name}}
                        </a>
                    </div>
                    <div class = "col">
                        <i class="icon ion-ionic" ng-show="showPicture({{investor[1]}})"></i> </br>
                        <a ng-click="showInvestor({{investor[1]}})">
                            {{investor[1].prename}} {{investor[1].name}}
                        </a>
                    </div>
                    <div class = "col">
                        <i class="icon ion-ionic" ng-show="showPicture({{investor[2]}})"></i> </br>
                        <a ng-click="showInvestor({{investor[2]}})">
                            {{investor[2].prename}} {{investor[2].name}}
                        </a>
                    </div>
                </div>
            <p class=" " style="margin-top:0px;color:#000000;" id="versicherungSocial-markdown26" ng-show="noInvestor"> Bisher hat niemand in dieses Versicherungsangebot investiert.</p>
        </div>
        <div id="versicherungSocial-card213" class="list card ">
            <p class=" " style="color:#000000;font-size:18px;" id="versicherungSocial-markdown37"> &nbsp Bewertung </p>
            <div class = "row">
                <div class = "col">
                    <b>positiv: </b> {{bewertung[1].count}}
                </div>
                <div class = "col">
                     <b>negativ: </b> {{bewertung[2].count}}
                </div>
                <div class = "col">
                    <b> keine: </b>  {{bewertung[0].count}}
                </div>
            </div>
        </div>
        <div id="versicherungSocial-card214" class="list card ">
            <p class=" " style="color:#000000;font-size:18px;" id="versicherungSocial-markdown39">&nbsp Kommentare</p>
            <ion-list class=" " id="versicherungSocial-list10">
                <ion-item style="font-weight:bold;" id="versicherungSocial-list-item16" class="icon ion-person itemNew" ng-repeat="comment in comments" ng-hide="noComment">
                    {{comment.prename}} {{comment.name}}: <br>
                    <p  style="color:black;font-size:16px;font-weight:normal;" id="versicherungSocial-markdown390">{{comment.text}} <br></p>
                    <p  style="color:grey;font-size:13px;font-weight:normal;" id="versicherungSocial-markdown390">Am {{comment.zeitpunkt}}</p>
                </ion-item>

                <span ng-show="noComment">Bisher hat niemand diese Versicherung kommentiert.</span>
            </ion-list>
        </div>
        <form class="list " id="versicherungSocial-form57" name="kommentarForm">
            <label id="versicherungSocial-input36" class="item item-input ">
                <input placeholder="Kommentar schreiben ..." type="text" name="comment" ng-model="comment.text" required>
            </label>
             <div style="color:red">
                <span ng-hide="isFilled(kommentarForm.comment)" >Das Kommentarfeld muss befüllt sein. </br></span>
            </div>
        <button class=" button button-positive  button-block " type="submit" id="versicherungSocial-button23" ng-click="writeComment(kommentarForm)">Kommentar schreiben</button>
        </form>

    </ion-content>
</ion-view>
