/* Empty. Add your own CSS if you like */
td.linebreak p {
    width: 120%;
    font-size: inherit;
    color: inherit;
    font-weight: bold;
}

.styleTable {
    width: 100%;
    border-collapse: collapse;
}


.styleData {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

/* Override Ionic Button Color */

.button.button-positive {
  background-color: #293133;
}

/* Menu */
.menu {
  background-color: transparent; }

.menu-bottom {
  bottom: 16px;
  left: 16px;
  right: 16px;
  position: absolute;
  font-size: 2em}

.menu-top {
  top: 16px;
  left: 16px;
  right: 16px;
  position: absolute; }

.menu .avatar {
  top: 16px;
  left: 16px;
  height: 65px;
  width: 65px; }

.menu .bar.bar-header.expanded {
  box-shadow: none;
  /*min-height: 150px;*/
  color: #fff;
  background-image: url('../img/material-graphite.jpg');
  background-size: 120%;
  background-position: 0%;
  height: 18%;
  transition: all .5s ease-in-out; }

.menu-open .bar.bar-header.expanded {
  background-position: 0;
  background-size: 100%; }

.has-expanded-header {
  top: 150px !important; }

.menu.menu-left * {
    font-weight: bold;
}

.item-radio input:checked ~ .item-content {
    background: transparent;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

.item.item-radio .radio-icon {
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.item.item-radio:active .radio-icon {
    opacity: 0;
    transform: scale(1.6);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.directions.button-bar {
    margin: 0 auto;
    width: 33.333%;
}

.directions.button-bar button {
    line-height: 26px;
}

.menu .scroll-content {
  top: 18%;
  color: white;
}

hr {
    width:  400%;
}

.tableMobile2 {
    table-layout: fixed;
    width: 40%;

}

.text_black {
    color: black;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {


    .displayBlock{
        display: block;
    }


    .hideHeaders {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .rowBorder { border: 1px solid #ccc; }

    .colLikeRow {

        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .colLikeHeader:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .tableMobile {
        table-layout: fixed;
        width: 118%;

    }

    .tableMobile2 {
        table-layout: fixed;
        width: 110%;

    }

    .tableMobile3 {
        table-layout: fixed;
        width: 111%;
    }

    .tableMobile4 {
        table-layout: fixed;
        width: 115%;
    }

    .tableMobile5 {
        table-layout: fixed;
        width: 90%;
    }

    .tableMobile6 {
        table-layout: fixed;
        width: 80%;
    }

    .tableMobile7 {
        table-layout: fixed;
        width: 85.5%;
    }

    hr {
        width:  110%;
    }

    .labelData:nth-of-type(1):before { content: "Bezeichnung"; font-weight: bold; }
    .labelData:nth-of-type(2):before { content: "Kategorie"; font-weight: bold;}
    .labelData:nth-of-type(3):before { content: "Bewertung"; font-weight: bold;}
    .labelData:nth-of-type(4):before { content: "Rendite"; font-weight: bold;}
    .labelData:nth-of-type(5):before { content: "Versicherungshöhe"; font-weight: bold;}
    .labelData:nth-of-type(6):before { content: "Anzahl Investoren"; font-weight: bold;}

}
