<ion-view  id="invSearch" title="Investition suchen">
    <ion-content class="has-header" padding="true">
        <form class="list " id="investitionSuchen-form51">
            <ion-item id="investitionSuchen-list-item-divider3" class="item-divider ">Filtern nach Kategorie</ion-item>

            <label id="selectKategorie" class="item item-select ">
                <span class="input-label"></span>
                <select ng-model="kategorienFilter.text" ng-init="kategorienFilter.text='Alle'" name="kategorie" required>
                    <option ng-selected="true" value="Alle">Alle</option>
                    <option ng-repeat = "item in kategorien" >
                        {{item.text}}
                    </option>
                </select>
            </label>

            <ion-item id="investitionSuchen-list-item-divider11" class="item-divider ">Sortierung</ion-item>
            <label id="selectSorter" class="item item-select ">
                <span class="input-label"></span>
                <select ng-model="sorterList.text" ng-init="sorterList.text='Keine'"  name="sortierung" required>
                    <option ng-selected="true" value="Keine">Keine</option>
                    <option ng-repeat = "item in sorterList" >
                        {{item.text}}
                    </option>
                </select>
            </label>



            <!--<ion-checkbox ng-repeat = "item in kategorien" ng-model="item.enabled"  name="kategorie">{{item.text}}</ion-checkbox>-->

            <!--<ion-radio ng-repeat = "item in sorterList" ng-value="item.value"  ng-model="dataSorter.value" name="sortierung"  id="investitionSuchen-radio2">{{item.text}}</ion-radio>-->
            <ion-item id="investitionSuchen-list-item-divider2" class="item-divider ">Anzeige der Suchergebnisse</ion-item>
            <label id="selectAsc" class="item item-select ">
                <span class="input-label"></span>
                <select ng-model="sorterOrder.text" ng-init="sorterOrder.text='Aufsteigend'" name="anzeige" required>
                    <option ng-selected="true" value="Aufsteigend">Aufsteigend</option>
                    <option value="Absteigend">Absteigend</option>
                    <!--<option ng-repeat = "item in sorterOrder" >
                      {{item.text}}
                    </option>-->
                </select>
            </label>

            <ion-item  class="item-divider ">Anzahl der Suchergebnisse pro Seite</ion-item>
            <label  class="item item-select ">
                <span class="input-label"></span>
                <select ng-model="paging.entries" ng-init="paging.entries='10'" name="anzahl" required>
                    <option value="5">5</option>
                    <option ng-selected="true" value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <!--<option ng-repeat = "item in sorterOrder" >
                      {{item.text}}
                    </option>-->
                </select>
            </label>


            <!--<ion-radio  ng-repeat = "item in sorterOrder" ng-value="item.value" ng-model="dataOrder.value" name="reihenfolge"  id="investitionSuchen-radio2">{{item.text}}</ion-radio>-->

            <a class=" button button-positive  button-block icon ion-search"  ng-click="search(kategorienFilter, sorterList, sorterOrder, paging)" id="investitionSuchen-button34">Investition suchen</a>

        </form>



            <ion-item  class="item-divider ">Suchergebnisse</ion-item>

        <table class="styleTable displayBlock">
            <thead class="hideHeaders displayBlock">
            <tr class="rowBorder displayBlock">
                <th class="styleData displayBlock"> <b>Bezeichnung</b></th>
                <th class="styleData displayBlock"> <b>Kategorie</b></th>
                <th class="styleData displayBlock"> <b>Bewertung</b> </th>
                <th class="styleData displayBlock"> <b>Rendite</b></th>
                <th class="styleData displayBlock"> <b>Versicherungshöhe</b> </th>
                <th class="styleData displayBlock"> <b>Anzahl Investoren</b></th>
            </tr>
            </thead>
            <tbody class="displayBlock" ng-click="investitionShow({{item.id}})" id="4" ng-repeat="item in results">
            <tr class="rowBorder displayBlock" >
                <td class="styleData labelData colLikeHeader colLikeRow displayBlock">{{item.name}}</td>
                <td class="styleData labelData colLikeHeader colLikeRow displayBlock">{{item.kategorie}}</td>
                <td class="styleData labelData colLikeHeader colLikeRow displayBlock">{{item.bewertung}}</td>
                <td class="styleData labelData colLikeHeader colLikeRow displayBlock">{{item.rendite}} %</td>
                <td class="styleData labelData colLikeHeader colLikeRow displayBlock">{{item.versicherungshoehe}}</td>
                <td class="styleData labelData colLikeHeader colLikeRow displayBlock">{{item.anzahl_investoren}}</td>

            </tr>
            </tbody>
        </table>

        <button  ng-disabled="currentPage <= 0" ng-click="currentPage=currentPage-1"><<</button>
        <button  ng-disabled="currentPage >= numberOfPages" ng-click="currentPage=currentPage+1">>></button>
        Seite {{currentPage+1}} von {{numberOfPages}}

    </ion-content>
</ion-view>


