<ion-view style="" class=" " id="page21" title="Investition abschließen">
    <ion-content class="has-header" padding="true">
        <div id="investitionAbschlieEn-card217" class="list card ">
            <p class=" " style="color:#000000;font-size:18px;" id="investitionAbschlieEn-markdown46">Versicherungsdetails</p>
            <ion-item style="" class="  " id="investitionAbschlieEn-list-item21">Item</ion-item>
        </div>
        <div id="investitionAbschlieEn-card218" class="list card ">
            <form class="list " id="investitionAbschlieEn-form62">
                <p class=" " style="color:#000000;font-size:18px;" id="investitionAbschlieEn-markdown47">Investitionswert</p>
                <label id="investitionAbschlieEn-input39" class="item item-input ">
                    <input placeholder="" type="text">
                </label>
                <p class=" " style="color:#000000;font-size:16px;" id="investitionAbschlieEn-markdown48">Maximale Rendite:</p>
            </form>
        </div>
        <p class=" " style="color:#000000;font-size:16px;" id="investitionAbschlieEn-markdown49">Kosten:</p>
        <button class=" button button-positive  button-block " id="investitionAbschlieEn-button35">Kostenpfllichtig abschließen</button>
    </ion-content>
</ion-view>