<ion-view style="" class=" " id="page8" title="Investition tätigen">
    <ion-content class="has-header" padding="true">
        <div id="investitionTTigen-card215" class="list card ">
            <ion-item style="" class="  " id="versicherungsdetails-list-item34"> Versicherungsdetails</ion-item>
            <div  class="item item-body ">
                <table class="tableMobile3">
                    <tr>
                        <td>  <b>Bezeichnung: </b> </td>
                        <td>  {{versicherung.name}} </td>
                    </tr>
                    <tr>
                        <td> <b> Kategorie: </b> </td>
                        <td>  {{versicherung.kategorie}} </td>
                    </tr>
                    <tr>
                        <td> <b> Versicherungshöhe: </b> </td>
                        <td>  {{versicherung.versicherungshoehe}} </td>
                    </tr>
                    <tr>
                        <td> <b>davon bereits gedeckt:&nbsp</b> </td>
                        <td>  {{investitionBetrag}} </td>
                    </tr>
                    <tr>
                        <td> <b> Monatsbeitrag: </b> </td>
                        <td>  {{versicherung.beitrag}} </td>
                    </tr>
                    <tr>
                        <td> <b> Beschreibung: </b> </td>
                        <td>  {{versicherung.beschreibung}} </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="investitionTTigen-card216" class="list card ">
            <form class="list " id="investitionTTigen-form61" name="investitionAddForm">
                <p class=" " style="color:#000000;font-size:18px;" id="investitionTTigen-markdown41">Investitionshöhe</p>
                <label id="investitionTTigen-input38" class="item item-input ">
                    <input placeholder="" type="text" ng-model="investition.investitionshoehe" name="investitionshoehe" ng-pattern="checkCurrency" ng-change="calculateRendite(investitionAddForm.investitionshoehe)" required>
                </label>
                <div style="color:red">
                    <span ng-show="isNaN(investitionAddForm.investitionshoehe)" >Bitte geben Sie eine Zahl/Betrag > 0 ein. </br></span>
                </div>
                <p class=" " style="color:#000000;font-size:16px;" id="investitionTTigen-markdown42">Maximale Rendite: {{rendite}}</p>
            </form>
        </div>
        <button class=" button button-positive  button-block " id="investitionTTigen-button33" ng-click="save(investitionAddForm)">Weiter</button>
    </ion-content>
</ion-view>
