<ion-view style="" class=" " id="page8" title="Investition tätigen">
    <ion-content class="has-header" padding="true">
        <div id="investitionTTigen-card215" class="list card ">
            <p class=" " style="color:#000000;font-size:18px;" id="investitionTTigen-markdown23">Versicherungsdetails:</p>
            <ion-item style="" class="  " id="investitionTTigen-list-item19">
                <table>
                    <tr> 
                        <td>  <b>Bezeichnung: </b> </td>  
                        <td>  {{versicherung.name}} </td>
                    </tr>
                    <tr> 
                        <td> <b> Kategorie: </b> </td>
                        <td>  {{versicherung.kategorie}} </td>
                    </tr>
                   <tr> 
                        <td> <b> Versicherungshöhe: </b> </td>
                        <td>  {{versicherung.versicherungshoehe}} </td>
                    </tr>
                    <tr> 
                        <td>  davon bereits gedeckt: </td>
                        <td>  {{investitionBetrag}} </td>
                    </tr>
                    <tr> 
                        <td> <b> Aktueller Wert: </b> </td>
                        <td>  {{versicherung.wert}} </td>
                    </tr>
                    <tr> 
                        <td> <b> Monatsbeitrag: </b> </td>
                        <td>  {{versicherung.beitrag}} </td>
                    </tr>
                    <tr> 
                        <td> <b> Beschreibung: </b> </td>
                        <td>  {{versicherung.beschreibung}} </td>
                    </tr>
                </table>
            </ion-item>
        </div>
        <div id="investitionTTigen-card216" class="list card ">
            <form class="list " id="investitionTTigen-form61" name="investitionAddForm">
                <p class=" " style="color:#000000;font-size:18px;" id="investitionTTigen-markdown41">Investitionswert</p>
                <label id="investitionTTigen-input38" class="item item-input ">
                    <input placeholder="" type="text" ng-model="investition.investitionswert" name="investitionswert" ng-pattern="checkCurrency" ng-change="calculateRendite(investitionAddForm.investitionswert)" required>
                </label>
                <div style="color:red">
                    <span ng-show="isNaN(investitionAddForm.investitionswert)" >Bitte geben Sie eine Zahl/Betrag > 0 ein. </br></span> 
                </div>
                <p class=" " style="color:#000000;font-size:16px;" id="investitionTTigen-markdown42">Maximale Rendite: {{rendite}}</p>
            </form>
        </div>
        <button class=" button button-positive  button-block " id="investitionTTigen-button33" ng-click="save(investitionAddForm)">Weiter</button>
    </ion-content>
</ion-view>