<ion-view  id="invSearch" title="Investition suchen">
  <ion-content class="has-header" padding="true">
    <form class="list " id="investitionSuchen-form51">
      <ion-item id="investitionSuchen-list-item-divider3" class="item-divider ">Filtern nach Kategorie</ion-item>
      <ion-checkbox ng-repeat = "item in kategorien" ng-model="item.enabled"  name="kategorie">{{item.text}}</ion-checkbox>
      <ion-item id="investitionSuchen-list-item-divider11" class="item-divider ">Sortieren nach</ion-item>
      <ion-radio ng-repeat = "item in sorterList" ng-value="item.value"  ng-model="dataSorter.value" name="sortierung"  id="investitionSuchen-radio2">{{item.text}}</ion-radio>
      <ion-item id="investitionSuchen-list-item-divider2" class="item-divider ">Anzeige der Suchergebnisse</ion-item>
      <ion-radio  ng-repeat = "item in sorterOrder" ng-value="item.value" ng-model="dataOrder.value" name="reihenfolge"  id="investitionSuchen-radio2">{{item.text}}</ion-radio>
      <a class=" button button-positive  button-block "  ng-click="search(dataSorter, dataOrder)" id="investitionSuchen-button34" ui-sref="app.searchResult">Investition suchen</a>
    </form>
  </ion-content>
</ion-view>
