<ion-view style="" class=" " id="page8" title="Investition tätigen">
    <ion-content class="has-header" padding="true">
        <div id="investitionTTigen-card215" class="list card ">
            <p class=" " style="color:#000000;font-size:18px;" id="investitionTTigen-markdown23">Versicherungsdetails</p>
            <ion-item style="" class="  " id="investitionTTigen-list-item19">Item</ion-item>
        </div>
        <div id="investitionTTigen-card216" class="list card ">
            <form class="list " id="investitionTTigen-form61">
                <p class=" " style="color:#000000;font-size:18px;" id="investitionTTigen-markdown41">Investitionswert</p>
                <label id="investitionTTigen-input38" class="item item-input ">
                    <input placeholder="" type="text">
                </label>
                <p class=" " style="color:#000000;font-size:16px;" id="investitionTTigen-markdown42">Maximale Rendite:</p>
            </form>
        </div>
        <button class=" button button-positive  button-block " id="investitionTTigen-button33">Weiter</button>
    </ion-content>
</ion-view>