<ion-view style="" class=" " id="page10" title="Investition erfolgreich getätigt">
    <ion-content class="has-header" padding="true">
        <div style="" id="investitionErfolgreichGetTigt-list-item-container9" class="item item-body ">
            <p class=" " style="margin-top:0px;color:#000000;font-size:18px;" id="investitionErfolgreichGetTigt-markdown50">Investition</p>
        </div>
        <button class=" button button-positive  button-block " id="investitionErfolgreichGetTigt-button15">Investition teilen</button>
        <button class=" button button-positive  button-block " id="investitionErfolgreichGetTigt-button16">Weitere Investitionen suchen</button>
        <button class=" button button-positive  button-block " id="investitionErfolgreichGetTigt-button17">Zur Übersicht</button>
    </ion-content>
</ion-view>