<ion-view title="Login" id="page24" class=" ">
    <ion-content padding="true" class="has-header">
        <button id="login2-button37" class=" button button-positive  button-block ">Sign Up with Facebook</button>
        <form id="login2-form66" class="list ">
            <ion-list id="login2-list13" class=" ">
                <label class="item item-input " id="login2-input20">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login2-input25">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button id="login2-button32" class=" button button-stable  button-block ">Log in</button>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login2-button36" class=" button button-positive  button-block button-clear ">Or create an account</a>
        </form>
    </ion-content>
</ion-view>
