<ion-view style="" class=" " id="page1" title="Übersicht">
    <ion-content class="has-header" padding="true">
        <div id="Bersicht-card23" class="list card ">
            <div style="" id="Bersicht-list-item-container4" class="item item-body ">
                <h2 class=" " style="color: rgb(0, 0, 0);" id="Bersicht-heading2">Zusammenfassung</h2>
                <ion-list class=" " id="Bersicht-list8">
                    <ion-item style="" class="  " id="Bersicht-list-item14">
                        <div>
                            <h2> Versicherung </h2>
                            <p></p>
                            <table>
                                <tr> 
                                    <td>  <b>Anzahl Versicherungen: </b> </td>  
                                    <td>  {{versicherungen.length}} </td>
                                </tr>
                               <tr> 
                                    <td> <b> Versicherungshöhe: </b> </td>
                                    <td>  {{versicherungengesamt()}} </td>
                                </tr>
                                <tr> 
                                    <td> <b> Monatsbeitrag: </b> </td>
                                    <td>  {{monatsbeitraggesamt()}} </td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <h2> Investition </h2>
                            <p></p>
                            <table>
                                <tr> 
                                    <td>  <b>Anzahl Investitionen: </b> </td>  
                                    <td>  {{investitionen.length}} </td>
                                </tr>
                               <tr> 
                                    <td> <b> Investitionshöheshöhe: </b> </td>
                                    <td>  {{investhoehegesamt()}} </td>
                                </tr>
                                <tr> 
                                    <td> <b> Maximale Rendite: </b> </td>
                                    <td>  {{renditemax()}} </td>
                                </tr>
                            </table>
                        </div>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div id="Bersicht-card21" class="list card ">
            <ion-item style="" class="  " id="Bersicht-list-item4">Versicherungen</ion-item>
            <div style="" id="Bersicht-list-item-container1" class="item item-body ">
                <ion-list class=" " id="Bersicht-list6">
                    <a ng-click="versicherungShow()">
                        <ion-item style="" id="Bersicht-list-item10" class="item-icon-left  "ng-repeat="versicherung in versicherungen">
                            <i class="icon ion-ionic"></i>
                            <table>
                                <tr> 
                                    <td>  <b>Bezeichnung: </b> </td>  
                                    <td>  {{versicherung.name}} </td>
                                </tr>
                               <tr> 
                                    <td> <b> Versicherungshöhe: </b> </td>
                                    <td>  {{versicherung.versicherungshoehe}} </td>
                                </tr>
                                <tr> 
                                    <td> <b> Monatsbeitrag: </b> </td>
                                    <td>  {{versicherung.beitrag}} </td>
                                </tr>
                            </table></ion-item>
                    </a>
                </ion-list>
            </div>
        </div>
        <div id="Bersicht-card22" class="list card ">
            <ion-item style="" class="  " id="Bersicht-list-item7">Investition</ion-item>
            <div style="" id="Bersicht-list-item-container2" class="item item-body ">
                <ion-list class=" " id="Bersicht-list7">
                    <a ng-click="investitionShow()">
                        <ion-item style="" id="Bersicht-list-item11" class="item-icon-left  "ng-repeat="investition in investitionen">
                            <i class="icon ion-ios-baseball-outline"></i>

                            {{investition.id}}</ion-item>
                     </a>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>