<ion-view style="" class=" " id="page1" title="Übersicht">
    <ion-content class="has-header" padding="true">
        <div id="Bersicht-card23" class="list card ">
            <div style="" id="Bersicht-list-item-container4" class="item item-body ">
                <h2 class=" " style="color: rgb(0, 0, 0);" id="Bersicht-heading2" ng-show="!(noInvestition || noVersicherung)" >Zusammenfassung</h2>
                <h2 class=" " style="color: rgb(0, 0, 0);" id="Bersicht-heading2" ng-show="(noInvestition && noVersicherung)">Es liegen aktuelle weder Versicherungen noch Investitionen vor. </h2>
                <ion-list class=" " id="Bersicht-list8">
                    <ion-item style="" class="  " id="Bersicht-list-item14">
                        <div ng-show="!(noVersicherung)">
                            <h2> Versicherung </h2>
                            <p></p>
                            <table>
                                <tr>
                                    <td>  <b>Anzahl Versicherungen: </b> </td>
                                    <td>  {{versicherungen.length}} </td>
                                </tr>
                                <tr>
                                    <td> <b> Versicherungshöhe: </b> </td>
                                    <td>  {{versicherungengesamt()}} </td>
                                </tr>
                                <tr>
                                    <td> <b> Monatsbeitrag: </b> </td>
                                    <td>  {{monatsbeitraggesamt()}} </td>
                                </tr>
                            </table>
                        </div>
                        <div ng-show="!(noInvestition)">
                            <h2> Investition </h2>
                            <p></p>
                            <table>
                                <tr>
                                    <td>  <b>Anzahl Investitionen: </b> </td>
                                    <td>  {{investitionen.length}} </td>
                                </tr>
                                <tr>
                                    <td> <b> Investitionshöheshöhe: </b> </td>
                                    <td>  {{investhoehegesamt()}} </td>
                                </tr>
                                <tr>
                                    <td> <b> Maximale Rendite: </b> </td>
                                    <td>  {{renditemax()}} </td>
                                </tr>
                            </table>
                        </div>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div id="Bersicht-card21" class="list card " ng-show="!(noVersicherung)" >
            <ion-item style="" class="  " id="Bersicht-list-item4">Versicherungen</ion-item>
            <div style="" id="Bersicht-list-item-container1" class="item item-body ">
                <ion-list class=" " id="Bersicht-list6">
                    <a ng-click="versicherungShow({{versicherung.id}})" ng-repeat="versicherung in versicherungen">
                        <ion-item style="" id="Bersicht-list-item10" class="item-icon-left  ">
                            <i class="icon ion-ionic"></i>
                            <table>
                                <tr>
                                    <td>  <b>Bezeichnung: </b> </td>
                                    <td>  {{versicherung.name}} </td>
                                </tr>
                                <tr>
                                    <td> <b> Versicherungshöhe: </b> </td>
                                    <td>  {{versicherung.versicherungshoehe}} </td>
                                </tr>
                                <tr>
                                    <td> <b> Monatsbeitrag: </b> </td>
                                    <td>  {{versicherung.beitrag}} </td>
                                </tr>
                                 <tr ng-show="versicherung.wirdGekuendigt">
                                    <td>  </td>
                                    <td> <b> Kündigung zum Monatsende </b> </td>

                                </tr>
                            </table>
                        </ion-item>
                    </a>
                    <p class=" " style="margin-top:0px;color:#000000;" id="Bersicht-markdown26" ng-show="noVersicherung">Es liegen keine Versicherungen vor.</p>
                </ion-list>
            </div>
        </div>
        <div id="Bersicht-card22" class="list card " ng-show="!(noInvestition)">
            <ion-item style="" class="  " id="Bersicht-list-item7">Investition</ion-item>
            <div style="" id="Bersicht-list-item-container2" class="item item-body ">
                <ion-list class=" " id="Bersicht-list7">
                    <a ng-click="investitionShow({{investition.id}})" ng-show="!(noInvestition)" ng-repeat="investition in investitionen">
                        <ion-item style="" id="Bersicht-list-item11" class="item-icon-left  ">
                            <i class="icon ion-ios-baseball-outline"></i>
                            <table>
                                <tr>
                                    <td>  <b>Bezeichnung: </b> </td>
                                    <td>  {{investition.name}} </td>
                                </tr>
                                <tr>
                                    <td> <b> Investitionshöhe: </b> </td>
                                    <td>  {{investition.investitionshoehe}} </td>
                                </tr>
                                <tr>
                                    <td> <b> Maximale Rendite: </b> </td>
                                    <td>  {{calculateRendite(investition)}} </td>
                                </tr>
                                 <tr ng-show="investition.iwirdGekuendigt">
                                    <td>  </td>
                                    <td> <b> Kündigung zum Monatsende </b> </td>

                                </tr>
                                 <tr ng-show="investition.vwirdGekuendigt">
                                    <td>  </td>
                                    <td> <b> Versicherung wird beendet </b> </td>

                                </tr>
                            </table>
                        </ion-item>
                    </a>
                    <p class=" " style="margin-top:0px;color:#000000;" id="Bersicht-markdown26" ng-show="noInvestition">Es liegen keine Investitionen vor.</p>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
