<ion-view style="" class=" " id="page22" title="Investitionsdetails" cache-view="false">
    <ion-content class="has-header" padding="true">


        <div id="investitionsdetails-card222" class="list card ">
            <ion-item> Investitionsdetails</ion-item>
            <div  class="item item-body ">
                <table class="tableMobile4">
                    <tr>
                        <td>  <b>Versicherungsnehmer: </b> </td>
                        <td>  {{investition.vpersonPrename}} {{investition.vpersonName}} </td>
                    </tr>
                    <tr>
                        <td>  <b>Bezeichnung: </b> </td>
                        <td>  {{investition.name}} </td>
                    </tr>
                    <tr>
                        <td> <b> Kategorie: </b> </td>
                        <td>  {{investition.kategorie}} </td>
                    </tr>
                    <tr>
                        <td> <b> Versicherungshöhe: </b> </td>
                        <td>  {{investition.versicherungshoehe}} </td>
                    </tr>
                    <tr>
                        <td>  davon gedeckt: </td>
                        <td>  {{investitionBetrag}} </td>
                    </tr>
                    <tr>
                        <td> <b> Investitionshöhe: </b> </td>
                        <td>  {{investition.investitionshoehe}} </td>
                    </tr>
                    <tr>
                        <td> <b> Maximale Rendite: </b> </td>
                        <td>  {{ calculateRendite(investition.investitionshoehe) }} </td>
                    </tr>
                    <tr>
                        <td> <b> Beschreibung: </b> </td>
                        <td>  {{investition.beschreibung}} </td>
                    </tr>
                    <tr>
                        <td> <b> ausgezahlter Schaden:&nbsp </b> </td>
                        <td>  {{gesamtSchaden()}} </td>
                    </tr>
                    <tr ng-repeat= "status in investition.investitionsstatus">
                                    <td> <b> Status: </b> </td>
                                    <td>  {{status}} </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="investitionsdetails-card223" class="list card ">
            <ion-item> Investoren</ion-item>
            <div  class="item item-body ">
                <!--<ion-list class=" " id="Bersicht-list7">-->
            <a class="text_black" ng-click="showInvestor()" ng-repeat="investor in investoren">
                <!--<ion-item>-->
                    <table class="tableMobile2">
                        <tr>
                            <td>  <b>Name: </b> </td>
                            <td>  {{investor.prename}} {{investor.name}} </td>
                        </tr>
                        <tr>
                            <td>  <b>Investitionshöhe: </b> </td>
                            <td>  {{investor.investitionshoehe}} </td>
                        </tr>
                        <tr>
                            <td>  <b>Abschlusszeitpunkt:&nbsp </b> </td>
                            <td>  {{investor.abschlussZeitpunkt}} </td>
                        </tr>
                        <tr>
                            <td><hr></td>
                            <td><hr></td>
                        </tr>
                    </table>
                <!--</ion-item>-->
            </a>
                <!--</ion-list>-->
            </div>
        </div>
        <div class=" button-bar " id="investitionsdetails-button-bar5">
            <button class=" button button-positive  button-block " id="investitionsdetails-button14" ng-click="showSchadensfaelle()">Schadensfälle</button>
            <button class=" button button-positive  button-block " id="investitionsdetails-button36" ng-click="showSocial()" >Social</button>
        </div>
        <button class=" button button-positive  button-block " id="investitionsdetails-button12" ng-click="editInvestition()" ng-hide="investition.iistGekuendigt">Bearbeiten</button>
        <button class=" button button-positive  button-block " id="investitionsdetails-button12" ng-click="invest()" ng-show="investition.iistGekuendigt">Als Investor einsteigen</button>
    </ion-content>
</ion-view>
