<ion-view style="" class=" " id="page24" title="Investition Social">
    <ion-content class="has-header" padding="true">
        <div id="investitionSocial-card226" class="list card ">
            <ion-item style="" class="  " id="investitionSocial-list-item20">Item</ion-item>
        </div>
        <div id="investitionSocial-card227" class="list card ">
            <p class=" " style="color:#000000;font-size:18px;" id="investitionSocial-markdown54">Investoren</p>
            <ion-item style="" id="investitionSocial-list-item27" class="item-avatar  ">
                <h2>Item</h2>
            </ion-item>
        </div>
        <div id="investitionSocial-card228" class="list card ">
            <p class=" " style="color:#000000;font-size:18px;" id="investitionSocial-markdown55">Bewertung</p>
        </div>
        <div class=" button-bar " id="investitionSocial-button-bar8">
            <button class=" button button-positive  button-block " id="investitionSocial-button42">1</button>
            <button class=" button button-positive  button-block " id="investitionSocial-button43">2</button>
            <button class=" button button-positive  button-block " id="investitionSocial-button44">3</button>
        </div>
        <div id="investitionSocial-card229" class="list card ">
            <p class=" " style="color:#000000;font-size:18px;" id="investitionSocial-markdown56">Kommentare</p>
            <ion-list class=" " id="investitionSocial-list12">
                <ion-item style="" id="investitionSocial-list-item33" class="item-avatar  ">
                    <h2>Item</h2>
                </ion-item>
            </ion-list>
        </div>
        <form class="list " id="investitionSocial-form64">
            <label id="investitionSocial-input17" class="item item-input ">
                <input placeholder="Kommentar schreiben ..." type="text">
            </label>
        </form>
        <button class=" button button-positive  button-block " id="investitionSocial-button41">Kommentar schreiben</button>
        <div class=" button-bar " id="investitionSocial-button-bar7"></div>
    </ion-content>
</ion-view>