<ion-view view-title="Versicherung anlegen">
  <ion-content>
    <h1>Versicherung anlegen</h1>
      {{versicherung}}
    <div>
        <form>
        <table>
            <tr> 
               <td> Bezeichnung </td>
            </tr>
            <tr>
               <td> <input ng-model="versicherung.name" required> </td>
            </tr>
            <tr> 
               <td> Versicherungskategorie </td>
            </tr>
            <tr>
               <td> <select ng-model="selected_category" required>
                    <option ng-repeat = "x in insurance_category">
                        {{x}}
                    </option>
                   </select> </td>
            </tr>
            <tr> 
               <td> Versicherungshöhe </td>
            </tr>
            <tr>
               <td> <input ng-model="versicherung.versicherungshoehe" required> </td>
            </tr>
            <tr> 
               <td> aktueller Wert </td>
            </tr>
            <tr>
               <td> <input ng-model="insurance_current_value" required> </td>
            </tr>
            <tr> 
               <td> Monatsbeitrag </td>
            </tr>
            <tr>
               <td> <input ng-model="versicherung.beitrag" required> </td>
            </tr>
            <tr> 
               <td> Beschreibung </td>
            </tr>
            <tr>
                <td> <textarea cols="50" rows="10" ng-model="versicherung.beschreibung" required></textarea> </td>
            </tr>
            <tr>
               <td>IOT-Adresse (IPv6) </td>
            </tr>
        </table>
        </form>
  </div>
  </ion-content>
</ion-view>
