<ion-view style="" class=" " id="page20" title="Versicherungsangebot überprüfen">
    <ion-content class="has-header" padding="true">
        <form class="list " id="versicherungsangebotBerprFen-form48">
            
            <p class=" " style="color:#000000;font-size:18px;" id="versicherungsangebotBerprFen-markdown10">Bezeichnung:</p>
            <label id="versicherungsangebotBerprFen-input11" class="item item-input ">
                <input placeholder="" type="text" ng-model="versicherung.name">
            </label>
            
            <p class=" " style="color:#000000;font-size:18px;" id="versicherungsangebotBerprFen-markdown13">Kategorie:</p>
            <label id="versicherungsangebotBerprFen-input15" class="item item-input ">
                <input placeholder="" type="text">
            </label>
            
            <p class=" " style="color:#000000;font-size:18px;" id="versicherungsangebotBerprFen-markdown14">Versicherungshöhe:</p>
            <label id="versicherungsangebotBerprFen-input12" class="item item-input ">
                <input placeholder="" type="text">
            </label>
            
        
            <p class=" " style="color:#000000;font-size:18px;" id="versicherungsangebotBerprFen-markdown15">aktueller Wert:</p>
            <label id="versicherungsangebotBerprFen-input13" class="item item-input ">
                <input placeholder="" type="text">
            </label>
            
            <p class=" " style="color:#000000;font-size:18px;" id="versicherungsangebotBerprFen-markdown16">Monatbeitrag:</p>
            <label id="versicherungsangebotBerprFen-input14" class="item item-input ">
                <input placeholder="" type="text">
            </label>
            
            <p class=" " style="color:#000000;font-size:18px;" id="versicherungsangebotBerprFen-markdown17">Beschreibung:</p>
            <label id="versicherungsangebotBerprFen-textarea86" class="item item-input ">
                <span class="input-label"></span><textarea placeholder=""></textarea>
            </label>
            
            <p class=" " style="color:#000000;font-size:18px;" id="versicherungsangebotBerprFen-markdown32">Kosten:</p>
            
            <button class=" button button-positive  button-block " id="versicherungsangebotBerprFen-button7">Kostenpflichtiges Angebot erstellen</button>
            
        </form>
    </ion-content>
</ion-view>