<ion-view style="" class=" " id="page14" title="Versicherungsangebot eingestellt">
    <ion-content class="has-header" padding="true">
        <div style="" id="versicherungsangebotEingestellt-list-item-container15" class="item item-body ">
            <p class=" " style="margin-top:0px;color:#000000;" id="versicherungsangebotEingestellt-markdown26">Bezeichnung: {{versicherung.name}}</p>
            <p class=" " style="margin-top:0px;color:#000000;" id="versicherungsangebotEingestellt-markdown28">Kategorie:{{versicherung.kategorie}}</p>
            
            <p class=" " style="margin-top:0px;color:#000000;" id="versicherungsangebotEingestellt-markdown28">Versicherungshöhe:{{versicherung.versicherungshoehe}}</p>
            <p class=" " style="margin-top:0px;color:#000000;" id="versicherungsangebotEingestellt-markdown27">Aktueller Wert: </p>
            <p class=" " style="margin-top:0px;color:#000000;" id="versicherungsangebotEingestellt-markdown29">Monatsbeitrag: {{versicherung.beitrag}}</p>
        </div>
        
        <button class=" button button-positive  button-block " id="versicherungsangebotEingestellt-button20" ng-click="navigate('teilen')">Angebot teilen</button>
        <button class=" button button-positive  button-block " id="versicherungsangebotEingestellt-button21" ng-click="navigate('hinzufügen')">Weitere Versicherung anbieten</button>
        <button class=" button button-positive  button-block " id="versicherungsangebotEingestellt-button22" ng-click="navigate('Übersicht')">Zur Übersicht</button>
    </ion-content>
</ion-view>