<ion-view style="" class=" " id="page2" title="Versicherung anlegen">
    <ion-content class="has-header" padding="true">


        <form class="list " id="versicherungAnlegen-form11" name="versicherungAddForm">

            <p class=" " style="color:#000000;font-size:18px;" id="versicherungAnlegen-markdown4">Bezeichnung:</p>
            <label id="versicherungAnlegen-input6" class="item item-input ">
                <input name="name" placeholder="" type="text" ng-model="versicherung.name" required>
            </label>
            <div style="color:red">
                <span ng-show="isInvalid(versicherungAddForm.name)" >Bitte geben Sie eine Bezeichnung für die Versicherung an.</span>
            </div>



            <p class=" " style="color:#000000;font-size:18px;" id="versicherungAnlegen-markdown5">Kategorie:</p>
            <label id="versicherungAnlegen-select1" class="item item-select ">
                <span class="input-label"></span>
                <select ng-model="versicherung.kategorie" name="kategorie" required>
                    <option ng-repeat = "x in kategorien" >
                        {{x}}
                    </option>
                </select>
            </label>
            <div style="color:red">
                <span ng-show="isInvalid(versicherungAddForm.kategorie)" >Bitte wählen Sie eine Versicherungskategorie aus.</span>
            </div>


            <p class=" " style="color:#000000;font-size:18px;" id="versicherungAnlegen-markdown6">Versicherungshöhe:</p>
            <label id="versicherungAnlegen-input7" class="item item-input ">
                <input placeholder="" type="text" ng-model="versicherung.versicherungshoehe" name="versicherungshoehe" ng-pattern="checkCurrency" required>
            </label>
            <div style="color:red">
                <span ng-show="isInvalid(versicherungAddForm.versicherungshoehe)" >Bitte geben Sie eine Versicherungshöhe an. </br></span>
                <span ng-show="isNaN(versicherungAddForm.versicherungshoehe)" >Bitte geben Sie eine Zahl/Betrag > 0 ein. </br></span>
            </div>


            <p class=" " style="color:#000000;font-size:18px;" id="versicherungAnlegen-markdown8">Monatsbeitrag:</p>
            <label id="versicherungAnlegen-input9" class="item item-input ">
                <input type="text" ng-model="versicherung.beitrag" name="beitrag" ng-pattern="checkCurrency" required>
            </label>
            <div style="color:red">
                <span ng-show="isInvalid(versicherungAddForm.beitrag)" >Bitte geben Sie einen Monatsbeitrag an. </br> </span>
                <span ng-show="isNaN(versicherungAddForm.beitrag)" >Bitte geben Sie eine Zahl/Betrag > 0 ein. </br></span>
            </div>

            <p class=" " style="color:#000000;font-size:18px;" id="versicherungAnlegen-markdown9">Beschreibung:</p>
            <label id="versicherungAnlegen-textarea1" class="item item-input ">
                <!-- <span class="input-label"></span> --><textarea placeholder="" cols="50" rows="10" ng-model="versicherung.beschreibung" name="beschreibung" required></textarea>
            </label>
            <div style="color:red">
                <span ng-show="isInvalid(versicherungAddForm.beschreibung)" >Bitte geben Sie eine Beschreibung an.</span>
            </div>

            <button class=" button button-positive  button-block " id="versicherungAnlegen-button3" ng-click="versicherungAdd(versicherungAddForm)">Weiter</button>
        </form>
        <a href="#" socialshare
            socialshare-provider="telegram"
            socialshare-text="Mit der App geteilt"
            socialshare-hashtags="smartInsurance"
            socialshare-url="{{url}}">
            Share me
        </a>

    </ion-content>
</ion-view>
