<ion-view style="" class=" " id="page14" title="Versicherungsangebot eingestellt">
    <ion-content class="has-header" padding="true">
        <div style="" id="versicherungsangebotEingestellt-list-item-container15" class="item item-body ">
            <p class=" " style="margin-top:0px;color:#000000;" id="versicherungsangebotEingestellt-markdown26">Bezeichnung:</p>
            <p class=" " style="margin-top:0px;color:#000000;" id="versicherungsangebotEingestellt-markdown27">Aktueller Wert:</p>
            <p class=" " style="margin-top:0px;color:#000000;" id="versicherungsangebotEingestellt-markdown28">Versicherungshöhe:</p>
            <p class=" " style="margin-top:0px;color:#000000;" id="versicherungsangebotEingestellt-markdown29">Monatsbeitrag:</p>
        </div>
        <button class=" button button-positive  button-block " id="versicherungsangebotEingestellt-button20">Angebot teilen</button>
        <button class=" button button-positive  button-block " id="versicherungsangebotEingestellt-button21">Weitere Versicherung anlegen</button>
        <button class=" button button-positive  button-block " id="versicherungsangebotEingestellt-button22">Zur Übersicht</button>
    </ion-content>
</ion-view>