<ion-view style="" class=" " id="page26" title="FAQ">
    <ion-content class="has-header" padding="true">
        <div id="fAQ-card231" class="list card " ng-repeat="faq in faqs">
            <div style="" id="fAQ-list-item-container11" class="item item-body " >
                <p class=" " style="color:#000000;" id="fAQ-markdown58">
                <table>
                    <tr>
                        <td><strong>Frage: </strong> </td>
                        <td><strong>{{faq.question}}  </strong> </td>
                    </tr>
                </table>
                </p>
                <ion-list class=" " id="fAQ-list13">
                    <ion-item style="" class="  " id="fAQ-list-item38">
                        <table>
                            <tr>
                                <td>Antwort: </td>
                                <td>{{faq.answer}}</td>
                            </tr>
                        </table>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
