<ion-view title="Profil bearbeiten" id="page22" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="profilBearbeiten-card222">

             <div flow-init="{target: 'https://sb.pftclan.de:546/api/smartbackend/fileupload/savefile/c1a0241a-3d53-11e6-8d26-f77bd1132585'}"
            flow-files-submitted="$flow.upload()"
            flow-file-success="$file.msg = $message"
                  flow-name="obj.flow">
  
               <object data={{eProfilBild.flow-img}} type="image/*">
                <img id="eProfil" "picFile[0] != null" src="http://www.clipartbest.com/cliparts/KTn/M5o/KTnM5oMjc.jpeg" width="150" height="150" flow-img="$flow.files[0]" width="150" height="150"/>
                </object>   
                
                <h2></h2>
        
            <span class="button button-positive  button-block"  flow-btn="">Profilbild auswählen<input type="file" style="visibility: hidden;position: absolute;"></span>
            
            </div>
            

            <form id="profilBearbeiten-form63" name="profilBearbeitenForm" class="list">

                <p id="profilBearbeiten-markdown40" style="color:#000000;" class=" ">Vorname:</p>
                <label class="item item-input " id="profilBearbeiten-input16">

                    <input type="text" placeholder="" ng-model="profilNeu.prename" name="prename" required>

                </label>
                <div style="color:red">
                    <span ng-show="isInvalid(profilBearbeitenForm.prename)" >Bitte geben Sie Ihren Vornamen an.</span>
                </div>

                <p id="profilBearbeiten-markdown51" style="color:#000000;" class=" ">Nachname:</p>
                <label class="item item-input " id="profilBearbeiten-input17">


                    <input type="text" placeholder="" ng-model="profilNeu.name" name="name" required>

                </label>
                <div style="color:red">
                    <span ng-show="isInvalid(profilBearbeitenForm.name)" >Bitte geben Sie Ihren Nachnamen an.</span>
                </div>

                <p id="profilBearbeiten-markdown53" style="color:#000000;" class=" ">E-Mail:</p>
                <label class="item item-input " id="profilBearbeiten-input18">

                    <input type="email" placeholder="" ng-model="profilNeu.email" name="email" ng-pattern="checkEMail" required>
                </label>
                <div style="color:red">
                    <span ng-show="isInvalid(profilBearbeitenForm.email)" >Bitte geben Sie Ihre E-Mail-Adresse an.</span>
                    <span ng-show="check(profilBearbeitenForm.email)" >Bitte geben Sie eine gültige E-Mail-Adresse an.</span>
                </div>

                <p id="profilBearbeiten-markdown57" style="color:#000000;" class=" ">Bankinstitut:</p>
                <label class="item item-input " id="profilBearbeiten-input22">
                    <input type="text" placeholder="" ng-model="profilNeu.bankinstitut" name="bankinstitut" required>
                </label>
                <div style="color:red">
                    <span ng-show="isInvalid(profilBearbeitenForm.bankinstitut)" >Bitte geben Sie Ihr Bankinstitut an.</span>
                </div>

                <p id="profilBearbeiten-markdown58" style="color:#000000;" class=" ">IBAN:</p>
                <label class="item item-input " id="profilBearbeiten-input23">
                    <input type="text" placeholder="" ng-model="profilNeu.iban" ng-pattern="checkIBAN" name="iban" required>
                </label>
                <div style="color:red">
                    <span ng-show="isInvalid(profilBearbeitenForm.iban)" >Bitte geben Sie Ihre IBAN an.</span>
                    <span ng-show="check(profilBearbeitenForm.iban)" >Bitte geben Sie eine gültige IBAN an.</span>
                </div>

                <p id="profilBearbeiten-markdown59" style="color:#000000;" class=" ">BIC:</p>
                <label class="item item-input " id="profilBearbeiten-input24">
                    <input type="text" placeholder="" ng-model="profilNeu.bic" name="bic" required>
                </label>
                <div style="color:red">
                    <span ng-show="isInvalid(profilBearbeitenForm.bic)" >Bitte geben Sie Ihre BIC an.</span>
                </div>

                <button id="profilBearbeiten-button14" class=" button button-positive  button-block " ng-click="profilBearbeiten(profilBearbeitenForm)">Speichern</button>

            </form>

        </div>
    </ion-content>
</ion-view>
