<ion-view title="Profil" id="page17" class=" ">
    <ion-content padding="true" class="has-header">
            <ion-item class="item-avatar  " id="profil-list-item25">
                <h2>{{profil.prename}} {{profil.name}}</h2>
                <p>{{profil.email}}</p>
            </ion-item>

        <div  class="item item-body ">
            <table class="">
                <tr>
                    <td> <b> Bankinstitut: </b> </td>
                    <td> &nbsp {{profil.bankinstitut}} </td>
                </tr>
                <tr>
                    <td> <b> IBAN: </b> </td>
                    <td> &nbsp {{profil.iban}} </td>
                </tr>
                <tr>
                    <td>  <b> BIC: </b> </td>
                    <td> &nbsp {{profil.bic}} </td>
                </tr>
            </table>
        </div>
        <button id="profil-button27" class=" button button-positive  button-block " ng-click="navigate('bearbeiten')">Profil bearbeiten</button>
    </ion-content>
</ion-view>


