<ion-view title="Profil" id="page17" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="profil-list11" class=" ">
            <ion-item class="item-avatar  " id="profil-list-item25">
                <h2>{{profil.prename}} {{profil.name}}</h2>
                <p>{{profil.email}}</p>
            </ion-item>
        </ion-list>
        <ion-list id="profil-list9" class=" ">
            <ion-item id="profil-list-item12" class="  ">

                <table>
                    <tr>
                        <td>  <b>Gesamtbewertung: </b> </td>
                        <td>  {{avgBewertung}} </td>
                    </tr>

                </table>


        <div id="Bersicht-card21" class="list card " ng-show="!(noVersicherung)" >
            <ion-item style="" class="  " id="Bersicht-list-item4">Versicherungen</ion-item>
            <div style="" id="Bersicht-list-item-container1" class="item item-body ">
                <ion-list class=" " id="Bersicht-list6">
                    <a ng-click="versicherungShow({{versicherung.id}})" ng-repeat="versicherung in versicherungen">
                        <ion-item style="" id="Bersicht-list-item10" class="item-icon-left">
                            <i class="icon ion-ionic"></i>
                            <table class="tableMobile2">
                                <tr>
                                    <td>  <b>Bezeichnung: </b> </td>
                                    <td class="linebreak"> <p>{{versicherung.name}}</p>  </td>
                                </tr>
                                <tr>
                                    <td> <b> Versicherungs- <br> höhe: </b> </td>
                                    <td> {{versicherung.versicherungshoehe}} </td>
                                </tr>
                                <tr>
                                    <td> <b> Monatsbeitrag:&nbsp </b> </td>
                                    <td>  {{versicherung.beitrag}} </td>
                                </tr>
                                <tr>
                                    <td> <b> Bewertung:&nbsp </b> </td>
                                    <td>  {{versicherung.bewertung}} </td>
                                </tr>
                                 <tr ng-repeat= "status in versicherung.versicherungsstatus">
                                    <td> <b> Status: </b> </td>
                                    <td class="linebreak"> <p> {{status}} </p> </td>
                                </tr>
                            </table>
                        </ion-item>
                    </a>
                    <p class=" " style="margin-top:0px;color:#000000;" id="Bersicht-markdown26" ng-show="noVersicherung">Es liegen keine Versicherungen vor.</p>
                </ion-list>
            </div>
        </div>



            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
